<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>西北农林科技大学麦田IPV6资源分享平台</title>
  <link rel="stylesheet" href="templates/default/css/common-enter.css" type="text/css" />
</head>

<body>
  <div class="login-header">
    <div class="login-banner">
      <img src="templates/default/images/banner-login.png" />
    </div>
  </div>
  <!--login-header-->
  <div class="login-main">
    <div class="login-main-b">
      <div class="login-block" id="register-user-tip">
        <ul class="two-side-list">
          <li>-用户名只允许中文、字母、数字，4至14个字符</li>
          <li>-不要求用户名与学号相同</li>
          {% if $emailnotice != '' %}
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li>{% $emailnotice %}</li>
          {% /if %}

        </ul>
      </div>
      <!--passwd-back-->
      {% $signuplist %}
      <div class="login-block register-list-all" id="register-inner">
        <form action="takesignup.php" method="post" id="register-frm" class="frms">
          {% if $type eq 'invite' %} {% if $code eq "" %}
          <form action="signup.php" method="get">
            <input type="hidden" name="type" value="invite" />
            <div class="form-list">
              <span class="form-tips">请输入邀请码：</span>
              <input type="text" size="38" name="inviternumber" class="form-info" />
            </div>
            <input type="submit" id="register-button" value="提交(请勿多次点击)" class="enter-button enter-button2" />
          </form>

          {% else %}
          <input type="hidden" name="type" value="invite" />
          <input type="hidden" name="inviter" value="{% $inviter %}" />
          <input type="hidden" name="hash" value="{% $code %}" /> {% /if %} {% /if %} {% if $type ne 'invite' or $code ne "" %}
          <div class="form-list">
            <span class="form-tips">用户名：</span>
            <input type="text" size="32" id="username" name="wantusername" class="form-info" />
          </div>
          <div class="form-list">
            <span class="form-tips">密码：</span>
            <input type="password" size="32" id="passwords" name="wantpassword" class="form-info" />
          </div>
          <div class="form-list">
            <span class="form-tips">确认密码：</span>
            <input type="password" size="32" id="confrimpasswords" name="passagain" class="form-info" />
          </div>

          <div class="form-list">
            <span class="form-tips">邮箱：</span>
            <input type="text" size="32" id="emails" name="email" class="form-info" />
          </div>
          <div class="form-list">
            <span class="form-tips">性别：</span>
            <span class="register-sex">
              <input type="radio" value="Male" class="form-info" name="gender" style="float:left" />♂男</span>
            <span class="register-sex">
              <input type="radio" value="Female" name="gender" class="form-info" style="float:left" />♀女</span>
          </div>
          <input type="hidden" name="country" id="relesverify" value="8" />
          <input type="hidden" name="rulesverify" id="relesverify" value="yes" />
          <input type="hidden" name="faqverify" id="faqverify" value="yes" />
          <input type="hidden" name="ageverify" id="ageverify" value="yes" />
          <div class="form-list">
            <input type="submit" id="register-button" value="注册(请勿多次点击)" class="enter-button enter-button2" />
          </div>

        </form>
        <div class="clear"></div>
        <p class="enter-tips enter-tips1">请启用cookie保证注册或者登录成功
          <br/>所有项目都必须填写</p>
        {% /if %}
      </div>
      <!--logins-->
    </div>
    <!--login-block-->
    <div class="clear"></div>

  </div>
  <!--login-main-b-->
  </div>
  <!--login-footer-top-->
  <div class="login-footer">
    <p>&copy; 麦田 PT 陕ICP备05001586号 2010-2018 Powered by MTPT</p>
    <p>站点设计与维护：西北农林科技大学网络与教育技术中心</p>
  </div>
  <!--login-footer-->
  <script>
    var resister = document.getElementById("register-list");
    var passwd = document.getElementById("passwd-back");
    var forget = document.getElementById("forget-pass");
    var registerbutton = document.getElementById("register-button");
    forget.onclick = function () {
      passwd.style.visibility = "visible";
    }
    registerbutton.onclick = function () {
      resister.style.visibility = "visible";
      //alert("寒假期间关闭注册！");
    }
  </script>
</body>

</html>